{% extends 'topovske/base_template.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="baza-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.</div>
    <div class="baza-forms">
    	<form class="surname" action="" method="get">
    		<input class="b-input" type="text" name="surname" placeholder="Prezime">
    		<button  class="m-glass" type="submit">
    			 <img src="{% static 'topovske/images/vector9.png' %}">
    		</button>
    	</form>
    	<form class="nationality" action="" method="get">
    		<input class="b-input" type="text" name="nationality" placeholder="Nacionalnost">
    		<button  class="m-glass" type="submit">
    		<!-- 	<i class="fa fa-search" aria-hidden="true"></i> -->
    		    <img src="{% static 'topovske/images/vector9.png' %}">
    		</button>
    	</form>
    </div>
    <div class="table-container">
	    <div class="table-slider">
		    <div class="table-page">
			    <table class="table">
			    	<tr>
			    		<th>PREZIME</th>
			    		<th>IME</th>
			    		<th>NACIONALNOST</th>
			    		<th>DATUM RODJENJA</th>
			    		<th>MESTO BORAVKA</th>
			    		<th>IZVOR</th>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    </table>
			</div>  <!-- .table-page -->
		    <div class="table-page">
			    <table class="table">
			    	<tr>
			    		<th>PREZIME</th>
			    		<th>IME</th>
			    		<th>NACIONALNOST</th>
			    		<th>DATUM RODJENJA</th>
			    		<th>MESTO BORAVKA</th>
			    		<th>IZVOR</th>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    	<tr>
			    		<td>Prezime</td>
			    		<td>Ime</td>
			    		<td>Nacionalnost</td>
			    		<td>18.02.2020</td>
			    		<td>Beograd</td>
			    		<td>Izvor</td>
			    	</tr>
			    </table>
			</div>  <!-- .table-page -->
		</div> <!-- table slider -->
		<div class="b-controls">
	    	<img class="b-left" src="{% static 'topovske/images/l-arrow.png' %}">
	    	<img class="b-right" src="{% static 'topovske/images/r-arrow.png' %}">
	    </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
    	$('.table-slider').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			infinite: false,
			arrows: true,
			dots: false,
			prevArrow: $('.b-left'),
			nextArrow: $('.b-right')
    	});
    </script>
{% endblock content %}



