{% extends 'topovske/base_template.html' %}
{% load static %}

{% block content %}
    <div class="baza-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.</div>
    <div class="baza-forms">
    	<form class="surname" action="/baza_podataka/" method="get">
    		<input class="b-input" type="text" name="surname" placeholder="Prezime">
    		<button  class="m-glass" type="submit">
    			 <img src="{% static 'topovske/images/vector9.png' %}">
    		</button>
    	</form>
    	<form class="nationality" action="/baza_podataka/" method="get">
    		<input class="b-input" type="text" name="nationality" placeholder="Nacionalnost">
    		<button  class="m-glass" type="submit">
    		    <img src="{% static 'topovske/images/vector9.png' %}">
    		</button>
    	</form>
    </div>
    <div class="table-container">
	    <div class="table-slider">
_
		    <div class="table-page">
			    <table class="table">
			    	<tr>
			    		<th>PREZIME</th>
			    		<th>IME</th>
			    		<th>NACIONALNOST</th>
			    		<th>DATUM RODJENJA</th>
			    		<th>MESTO BORAVKA</th>
			    		<th>IZVOR</th>
			    	</tr>
                    {% for victim in victims %}
			    	<tr>
			    		<td>{{ victim.surname }}</td>
			    		<td>{{ victim.name }}</td>
			    		<td>{{ victim.nationality }}</td>
			    		<td>{{ victim.date_of_birth }}</td>
			    		<td>{{ victim.location }}</td>
			    		<td>{{ victim.source }}</td>
			    	</tr>
                    {% endfor %}
			    </table>
			</div>  <!-- .table-page -->
		</div> <!-- table slider -->
		<div class="b-controls">
	    	<img class="b-left" src="{% static 'topovske/images/l-arrow.png' %}">
	    	<img class="b-right" src="{% static 'topovske/images/r-arrow.png' %}">
	    </div>
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
    	$('.table-slider').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			infinite: false,
			arrows: true,
			dots: false,
			prevArrow: $('.b-left'),
			nextArrow: $('.b-right')
    	});
    </script>
{% endblock content %}



