{% extends 'topovske/base_template.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="arhiva_container">
    	<div class="inside-box1">
			<div class="inner1">
				<div class="i-left">
					<!-- <img src="{% static 'topovske/images/blue_bar.png' %}"> -->
				</div>
				<a href="{% url 'topovske-arhiva' %}">
				<div class="i-right" data-id="0">
				    <p>{% trans 'PISMA' %}</p>
				</div>
			    </a>
			</div>
			<div class="inner2">
				<div class="i-left">
					<!-- <img src="{% static 'topovske/images/blue_bar.png' %}"> -->
				</div>
				<a href="{% url 'topovske-spisak' %}">
				<div class="i-right" data-id="1">
				    <p>{% trans 'SPISAK ŽRTAVA' %}</p>
				</div>
			    </a>
			</div>
			<div class="inner3">
				<div class="i-left">
					<!-- <img src="{% static 'topovske/images/blue_bar.png' %}"> -->
				</div>
				<a href="{% url 'topovske-svedocenja' %}">
				<div class="i-right" data-id="2">
				    <p>{% trans 'SVEDOČENJA' %}</p>
				</div>
			    </a>
			</div>
			<div class="inner4">
				<div class="i-left">
					<!-- <img src="{% static 'topovske/images/blue_bar.png' %}"> -->
				</div>
				<a href="{% url 'topovske-dokumenti' %}">
				<div class="i-right" data-id="3">
				    <p>{% trans 'DOKUMENTI' %}</p>
				</div>
			    </a>
			</div>
			<div id="current" class="inner5">
				<div class="i-left">
					<img src="{% static 'topovske/images/blue_bar.png' %}">
				</div>
				<a href="{% url 'topovske-fotografije' %}">
				<div id="pi_sma" class="i-right" data-id="4">
				    <p>{% trans 'FOTOGRAFIJE' %}</p>
				</div>
			    </a>
			</div>
		</div>
		<div id="bold-boxes" class="inside-box1">
			<div class="inner5">
				<div class="i-left">
					<!-- <img src="{% static 'topovske/images/blue_bar.png' %}"> -->
				</div>
				<a href="{% url 'topovske-fotografije' %}">
				<div  class="i-right" data-id="4">
				    <p>{% trans 'FOTOGRAFIJE' %}</p>
				</div>
			    </a>
			</div>
		</div>
		<div class="inside_box2_slajder">
			{% for slide in p_slides %}
			    <div class="inside_box2" style="margin-bottom: 30px;">
	    		<p class="title">{% trans 'FOTOGRAFIJE' %}</p>
	    		    {% for clanak in slide %}
	    		        <div class="clanak">
			        		<div class="levi"><img src="{{ clanak.image.url }}"></div>
			        		<div class="desni">
			        			<div class="gornji">Otac Marijane Kalderon šalje pismo supruzi Fani i deci iz Topovskih šupa, oktobar 1941.</div>
			        			<div class="srednji">Jevrejski istorijski muzej, k. 24-2a (kasa)</div>
			        			<div class="donji">
			        				<div class="d_levi">
			        				<p>DOWNLOAD</p>
			        			    </div>
			        				<a href="#">
			        					<div class="d_desni"><img src="{% static 'topovske/images/bela_strelica.png' %}"></div>
			        				</a>
			        			</div>
			        		</div>
			        		<br style="clear: both;">
			        	</div>		`
	    		    {% endfor %}
	    		</div>
			{% endfor %}    	
	    </div> <!--slajder-->
	    <div id="load-more"><p>{% trans 'Prikaži još' %}</p></div>
	    <div class="controls">
			<div class="prev">
				<i class="fas fa-arrow-left"></i>
				<!-- <img src="{% static 'topovske/images/blue_arrow_reverse.png' %}"> -->
			</div>
			<div class="next">
				<i class="fas fa-arrow-right"></i>
				<!-- <img src="{% static 'topovske/images/blue_arrow.png' %}"> -->
			</div>
	    </div>  
	</div>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<!-- <script src="{% static 'topovske/js/archive.js' %}"></script> -->
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
    	$('.inside_box2_slajder').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			dots: true,
			infinite: false,
			prevArrow: $('.prev'),
			nextArrow: $('.next'),
			responsive: [
			    {
			    	breakpoint: 720,
			    	settings: "unslick"
			    }
			]
    	});
    </script>
    <script>
		$(document).ready(function(){
			$('.magnifying-glass').hover(function() {
			    $('.search-box-input').css('visibility', "visible");
			});	
		});

    </script>
     <script>
		$(document).ready(function(){
			$('nav').mouseleave(function() {
			    $('.search-box-input').css('visibility', "hidden");
			});	
		});

    </script>
     <script>
		$(document).ready(function(){
			$('.magnifying-glass').hover(function() {
			    $('.input-off').css('display', "block");
			});	
		});

    </script>
     <script>
		$(document).ready(function(){
			$('.input-off').click(function() {
			    $('.search-box-input').css('display', "none");
			});	
		});
    </script>
     <script>
		$(document).ready(function(){
			$('.input-off').click(function() {
			    $('.input-off').css('display', "none");
			});	
		});
    </script>
    <script>
		$(document).ready(function(){
			$('.menu-close-box').click(function() {
			    $('.menu-dropdown').css('transform', "translateX(100%)");
			});	
		});
    </script>

    <script>
		$(document).ready(function(){
			$('.burger').click(function() {
			    $('.menu-dropdown').css('transform', "translateX(0%)");
			});	
		});
    </script>
    <script>
    	$('.arhiva_container .inside_box2_slajder .inside_box2').slice(0,1).show();

    	console.log($('.arhiva_container .inside_box2_slajder .inside_box2:hidden').length !== 0)
    	 if($('.arhiva_container .inside_box2_slajder .inside_box2:hidden').length !== 0) {
                $('#load-more').css('display', 'flex');
            }
    	$('#load-more').on('click', function() {
            $('.arhiva_container .inside_box2_slajder .inside_box2:hidden').slice(0,1).slideDown();
            if($('.arhiva_container .inside_box2_slajder .inside_box2:hidden').length === 0) {
                $('#load-more').fadeOut();
            }
        });
    </script>

 <!--    <script type="text/javascript">
    	$(document).ready(function(){
			$('.inner2 .i-right').click(function() {
				$('.inside_box3_slajder').css('display', "block"); 
				$('.inside_box2_slajder').slick('unslick');
			    $('.inside_box2_slajder').css('display', "none");
			    // $('.inside_box4_slajder').slick('unslick');
			    $('.inside_box4_slajder').css('display', "none");
				$('.inner2 .i-right').css('color', '#324E6B');
			    $('.inner2 .i-left').css('visibility', 'visible');
				$('.inside_box3_slajder').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: true,
					dots: true,
					infinite: false,
					prevArrow: $('.prev'),
					nextArrow: $('.next')
		    	});
			    $('.inner1 .i-right').css('color', '#9BA7B1');
			    $('.inner1 .i-left').css('visibility', 'hidden');
			    $('.inner3 .i-right').css('color', '#9BA7B1');
			    $('.inner3 .i-left').css('visibility', 'hidden');
			   
			    
			});
		}); 	
    </script>   
    <script>
		$(document).ready(function(){
			$('.inner1 .i-right').click(function() {
			    $('.inside_box3_slajder').slick('unslick');
			    $('.inside_box3_slajder').css('display', "none");
			    $('.inside_box4_slajder').css('display', "none");
			    $('.inside_box5_slajder').css('display', "none");
			    $('.inside_box6_slajder').css('display', "none");
			    $('.inside_box2_slajder').css('display', "block");
			    $('.inside_box2_slajder').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: true,
					dots: true,
					infinite: false,
					prevArrow: $('.prev'),
					nextArrow: $('.next')
		    	});
			    $('.inner1 .i-right').css('color', '#324E6B');
			    $('.inner1 .i-left').css('visibility', 'visible');
			    $('.inner3 .i-right').css('color', '#9BA7B1');
			    $('.inner3 .i-left').css('visibility', 'hidden');
			    $('.inner2 .i-right').css('color', '#9BA7B1');
			    $('.inner2 .i-left').css('visibility', 'hidden');
			});
		});
    </script>
    <script type="text/javascript">
    	$(document).ready(function(){  
    	if (window.location.href.indexOf('en') != -1){
            $('nav-langs_en').css('display', 'block');
            $('nav-langs').css('display', 'none');
    	}
    });
    </script> -->
{% endblock content %}
	