{% extends 'topovske/base_template.html' %}
{% load static %}
{% load i18n %}
{% block content %}
    <div class="mapa-container">
    	<div class="mapa-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.</div>
    	<div class="mapa-img">
    		<img class="m-img" src="{% static 'topovske/images/bg_mapa.png' %}">
    		<img class="pin1" src="{% static 'topovske/images/pin.png' %}">
    		<img class="pin2" src="{% static 'topovske/images/pin.png' %}">
    		<img class="pin3" src="{% static 'topovske/images/pin.png' %}">
    		<img class="pin4" src="{% static 'topovske/images/pin.png' %}">
    		<img class="pin5" src="{% static 'topovske/images/pin.png' %}">
    		<img class="pin6" src="{% static 'topovske/images/pin.png' %}">
    		<img class="pin1-white" src="{% static 'topovske/images/pin_white.png' %}">
    		<img class="pin2-white" src="{% static 'topovske/images/pin_white.png' %}">
    		<img class="pin3-white" src="{% static 'topovske/images/pin_white.png' %}">
    		<img class="pin4-white" src="{% static 'topovske/images/pin_white.png' %}">
    		<img class="pin5-white" src="{% static 'topovske/images/pin_white.png' %}">
    		<img class="pin6-white" src="{% static 'topovske/images/pin_white.png' %}">
    		<div class="card1 ">
    			<div class="card-num-box">01.</div>
    			<div class="card-title-box">Sedište XI kvarta </div>
    			<div class="card-text-box">Tu su 29. oktobra 1941. godine u ranim jutarnjim satima dovedeni muški Romi sa Pašinog brda. Zadržani su nekoliko sati i posle prebačeni u logor Topovske šupe. Kožna ambulanta za stanovnike Voždovca otvorena od strane Opštine grada Beograda tokom jeseni 1941. godine (dok su se u logoru nalazili Jevreji).Tu su 29. oktobra 1941. godine u ranim jutarnjim satima dovedeni muški Romi sa Pašinog brda.</div>
    		</div>
    		<div class="card2">
    			<div class="card-num-box">02.</div>
    			<div class="card-title-box">Sedište XI kvarta</div>
    			<div class="card-text-box">Tu su 29. oktobra 1941. godine u ranim jutarnjim satima dovedeni muški Romi sa Pašinog brda. Zadržani su nekoliko sati i posle prebačeni u logor Topovske šupe. Kožna ambulanta za stanovnike Voždovca otvorena od strane Opštine grada Beograda tokom jeseni 1941. godine (dok su se u logoru nalazili Jevreji).</div>
    		</div>
    		<div class="card3">
    			<div class="card-num-box">03.</div>
    			<div class="card-title-box">Sedište XI kvarta</div>
    			<div class="card-text-box">Tu su 29. oktobra 1941. godine u ranim jutarnjim satima dovedeni muški Romi sa Pašinog brda. Zadržani su nekoliko sati i posle prebačeni u logor Topovske šupe. Kožna ambulanta za stanovnike Voždovca otvorena od strane Opštine grada Beograda tokom jeseni 1941. godine (dok su se u logoru nalazili Jevreji). </div>
    		</div>
    		<div class="card4">
    			<div class="card-num-box">04.</div>
    			<div class="card-title-box">Sedište XI kvarta </div>
    			<div class="card-text-box">Tu su 29. oktobra 1941. godine u ranim jutarnjim satima dovedeni muški Romi sa Pašinog brda. Zadržani su nekoliko sati i posle prebačeni u logor Topovske šupe. Kožna ambulanta za stanovnike Voždovca otvorena od strane Opštine grada Beograda tokom jeseni 1941. godine (dok su se u logoru nalazili Jevreji). </div>
    		</div>
    		<div class="card5">
    			<div class="card-num-box">05.</div>
    			<div class="card-title-box">Sedište XI kvarta </div>
    			<div class="card-text-box">Tu su 29. oktobra 1941. godine u ranim jutarnjim satima dovedeni muški Romi sa Pašinog brda. Zadržani su nekoliko sati i posle prebačeni u logor Topovske šupe. Kožna ambulanta za stanovnike Voždovca otvorena od strane Opštine grada Beograda tokom jeseni 1941. godine (dok su se u logoru nalazili Jevreji). </div>
    		</div>
    		<div class="card6">
    			<div class="card-num-box">06.</div>
    			<div class="card-title-box">Sedište XI kvarta </div>
    			<div class="card-text-box">Tu su 29. oktobra 1941. godine u ranim jutarnjim satima dovedeni muški Romi sa Pašinog brda. Zadržani su nekoliko sati i posle prebačeni u logor Topovske šupe. Kožna ambulanta za stanovnike Voždovca otvorena od strane Opštine grada Beograda tokom jeseni 1941. godine (dok su se u logoru nalazili Jevreji). </div>
    		</div>
    	</div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script>
    	$('.inside_box2_slajder').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			dots: true,
			infinite: false,
			prevArrow: $('.prev'),
			nextArrow: $('.next')
    	});
    </script>
    <script>
		$(document).ready(function(){
			$('.magnifying-glass').hover(function() {
			    $('.search-box-input').css('visibility', "visible");
			});	
		});

    </script>
     <script>
		$(document).ready(function(){
			$('nav').mouseleave(function() {
			    $('.search-box-input').css('visibility', "hidden");
			});	
		});

    </script>
     <script>
		$(document).ready(function(){
			$('.magnifying-glass').hover(function() {
			    $('.input-off').css('display', "block");
			});	
		});

    </script>
     <script>
		$(document).ready(function(){
			$('.input-off').click(function() {
			    $('.search-box-input').css('display', "none");
			});	
		});
    </script>
     <script>
		$(document).ready(function(){
			$('.input-off').click(function() {
			    $('.input-off').css('display', "none");
			});	
		});
    </script>
    <script>
		$(document).ready(function(){
			$('.menu-close-box').click(function() {
			    $('.menu-dropdown').css('transform', "translateX(100%)");
			});	
		});
    </script>

    <script>
		$(document).ready(function(){
			$('.burger').click(function() {
			    $('.menu-dropdown').css('transform', "translateX(0%)");
			});	
		});
    </script>
    <script>
    	$('.container-projekti-mobile .Page_slide').slice(0,1).show();
    	$('#load-more').on('click', function() {
            $('.container-projekti-mobile .Page_slide:hidden').slice(0,1).slideDown();
            if($('.container-projekti-mobile .Page_slide:hidden').length === 0) {
                $('#load-more').fadeOut();
            }
        });
    </script>
    <script>
    	$(document).ready(function(){
            $('.pin1').click(function() {
            	$('.pin1').css('display', 'none');
            	$('.pin1-white').css('display', 'block');
            	$('.card1').css('display', 'block');
            	$('.card2').css('display', 'none');
            	$('.card3').css('display', 'none');
            	$('.card4').css('display', 'none');
            	$('.card5').css('display', 'none');
            	$('.card6').css('display', 'none');
            	$('.pin2').css('display', 'block');
            	$('.pin3').css('display', 'block');
            	$('.pin4').css('display', 'block');
            	$('.pin5').css('display', 'block');
            	$('.pin6').css('display', 'block');
            	$('.pin2-white').css('display', 'none');
            	$('.pin3-white').css('display', 'none');
            	$('.pin4-white').css('display', 'none');
            	$('.pin5-white').css('display', 'none');
            	$('.pin6-white').css('display', 'none');   
            });  
        });
    </script>
    <script>
    	$(document).ready(function(){
            $('.pin2').click(function() {
            	$('.pin1-white').css('display', 'none');
            	$('.pin2-white').css('display', 'block');
            	$('.pin2').css('display', 'none');
            	$('.card2').css('display', 'block');
            	$('.card1').css('display', 'none');
            	$('.card3').css('display', 'none');
            	$('.card4').css('display', 'none');
            	$('.card5').css('display', 'none');
            	$('.card6').css('display', 'none');
            	$('.pin1').css('display', 'block');
            	$('.pin3').css('display', 'block');
            	$('.pin4').css('display', 'block');
            	$('.pin5').css('display', 'block');
            	$('.pin6').css('display', 'block');
            	$('.pin3-white').css('display', 'none');
            	$('.pin4-white').css('display', 'none');
            	$('.pin5-white').css('display', 'none');
            	$('.pin6-white').css('display', 'none');   
            });  
        });
    </script>
    <script>
    	$(document).ready(function(){
            $('.pin3').click(function() {
            	$('.card2').css('display', 'none');
            	$('.card1').css('display', 'none');
            	$('.card3').css('display', 'block');
            	$('.card4').css('display', 'none');
            	$('.card5').css('display', 'none');
            	$('.card6').css('display', 'none');
            	$('.pin1').css('display', 'block');
            	$('.pin2').css('display', 'block');
            	$('.pin3').css('display', 'none');
            	$('.pin4').css('display', 'block');
            	$('.pin5').css('display', 'block');
            	$('.pin6').css('display', 'block');
            	$('.pin1-white').css('display', 'none');
            	$('.pin2-white').css('display', 'none');
            	$('.pin3-white').css('display', 'block');
            	$('.pin4-white').css('display', 'none');
            	$('.pin5-white').css('display', 'none');
            	$('.pin6-white').css('display', 'none');   
            });  
        });
    </script>
    <script>
    	$(document).ready(function(){
            $('.pin4').click(function() {
            	$('.card2').css('display', 'none');
            	$('.card1').css('display', 'none');
            	$('.card3').css('display', 'none');
            	$('.card4').css('display', 'block');
            	$('.card5').css('display', 'none');
            	$('.card6').css('display', 'none');
            	$('.pin1').css('display', 'block');
            	$('.pin2').css('display', 'block');
            	$('.pin3').css('display', 'block');
            	$('.pin4').css('display', 'none');
            	$('.pin5').css('display', 'block');
            	$('.pin6').css('display', 'block');
            	$('.pin1-white').css('display', 'none');
            	$('.pin2-white').css('display', 'none');
            	$('.pin3-white').css('display', 'none');
            	$('.pin4-white').css('display', 'block');
            	$('.pin5-white').css('display', 'none');
            	$('.pin6-white').css('display', 'none');   
            });  
        });
    </script>
    <script>
    	$(document).ready(function(){
            $('.pin5').click(function() {
            	$('.card2').css('display', 'none');
            	$('.card1').css('display', 'none');
            	$('.card3').css('display', 'none');
            	$('.card4').css('display', 'none');
            	$('.card5').css('display', 'block');
            	$('.card6').css('display', 'none');
            	$('.pin1').css('display', 'block');
            	$('.pin2').css('display', 'block');
            	$('.pin3').css('display', 'block');
            	$('.pin4').css('display', 'block');
            	$('.pin5').css('display', 'none');
            	$('.pin6').css('display', 'block');
            	$('.pin1-white').css('display', 'none');
            	$('.pin2-white').css('display', 'none');
            	$('.pin3-white').css('display', 'none');
            	$('.pin4-white').css('display', 'none');
            	$('.pin5-white').css('display', 'block');
            	$('.pin6-white').css('display', 'none');   
            });  
        });
    </script>
    <script>
    	$(document).ready(function(){
            $('.pin6').click(function() {
            	$('.card2').css('display', 'none');
            	$('.card1').css('display', 'none');
            	$('.card3').css('display', 'none');
            	$('.card4').css('display', 'none');
            	$('.card5').css('display', 'none');
            	$('.card6').css('display', 'block');
            	$('.pin1').css('display', 'block');
            	$('.pin2').css('display', 'block');
            	$('.pin3').css('display', 'block');
            	$('.pin4').css('display', 'block');
            	$('.pin5').css('display', 'block');
            	$('.pin6').css('display', 'none');
            	$('.pin1-white').css('display', 'none');
            	$('.pin2-white').css('display', 'none');
            	$('.pin3-white').css('display', 'none');
            	$('.pin4-white').css('display', 'none');
            	$('.pin5-white').css('display', 'none');
            	$('.pin6-white').css('display', 'block');   
            });  
        });
    </script>
       <script>
    	$(document).ready(function(){
            $('.m-img').click(function() {
            	$('.card2').css('display', 'none');
            	$('.card1').css('display', 'none');
            	$('.card3').css('display', 'none');
            	$('.card4').css('display', 'none');
            	$('.card5').css('display', 'none');
            	$('.card6').css('display', 'none');
            	$('.pin1').css('display', 'block');
            	$('.pin2').css('display', 'block');
            	$('.pin3').css('display', 'block');
            	$('.pin4').css('display', 'block');
            	$('.pin5').css('display', 'block');
            	$('.pin6').css('display', 'block');
            	$('.pin1-white').css('display', 'none');
            	$('.pin2-white').css('display', 'none');
            	$('.pin3-white').css('display', 'none');
            	$('.pin4-white').css('display', 'none');
            	$('.pin5-white').css('display', 'none');
            	$('.pin6-white').css('display', 'none');   
            });  
        });
    </script>
    <script>
		$(document).ready(function(){
			$('.inner2 .i-right').click(function() {
			    $('.inside_box2_istorija').css('display', "none");
			});	
			 $('.inner2 .i-right').click(function() {
			    $('.o_logoru_container .inside_box2_kampanja').css('display', "none");
			});	
			$('.inner2 .i-right').click(function() {
			    $('.o_logoru_container .inside_box2_stanje').css('display', 'block');
			});
			$('.inner2 .i-right').click(function() {
			    $('.inner2 .i-right').css('color', '#324E6B');
			}); 
			$('.inner2 .i-right').click(function() {
			    $('.inner2 .i-right').css('color', '#324E6B');
			    $('.inner2 .i-left').css('visibility', 'visible');
			    $('.inner1 .i-right').css('color', '#9BA7B1');
			    $('.inner1 .i-left').css('visibility', 'hidden');
			    $('.inner3 .i-right').css('color', '#9BA7B1');
			    $('.inner3 .i-left').css('visibility', 'hidden');
			});
		}); 	
    </script>   
    <script>
		$(document).ready(function(){
			$('.inner1 .i-right').click(function() {
			    $('.inside_box2_istorija').css('display', "block");
			});	
			 $('.inner1 .i-right').click(function() {
			    $('.o_logoru_container .inside_box2_kampanja').css('display', "none");
			});	
			$('.inner1 .i-right').click(function() {
			    $('.o_logoru_container .inside_box2_stanje').css('display', "none");
			});
			$('.inner1 .i-right').click(function() {
			    $('.inner1 .i-right').css('color', '#324E6B');
			});
			$('.inner1 .i-right').click(function() {
			    $('.inner1 .i-right').css('color', '#324E6B');
			    $('.inner1 .i-left').css('visibility', 'visible');
			    $('.inner3 .i-right').css('color', '#9BA7B1');
			    $('.inner3 .i-left').css('visibility', 'hidden');
			    $('.inner2 .i-right').css('color', '#9BA7B1');
			    $('.inner2 .i-left').css('visibility', 'hidden');
			});
		});
    </script>  
    <script>
		$(document).ready(function(){
			$('.inner3 .i-right').click(function() {
			    $('.inside_box2_istorija').css('display', "none");
			});	
			 $('.inner3 .i-right').click(function() {
			    $('.o_logoru_container .inside_box2_stanje').css('display', "none");
			});	
			$('.inner3 .i-right').click(function() {
			    $('.o_logoru_container .inside_box2_kampanja').css('display', "block");
			});
			$('.inner3 .i-right').click(function() {
			    $('.inner3 .i-right').css('color', '#324E6B');
			    $('.inner3 .i-left').css('visibility', 'visible');
			    $('.inner1 .i-right').css('color', '#9BA7B1');
			    $('.inner1 .i-left').css('visibility', 'hidden');
			    $('.inner2 .i-right').css('color', '#9BA7B1');
			    $('.inner2 .i-left').css('visibility', 'hidden');
			});
		});
    </script>
    <script>
    	$(document).ready(function(){
	    	var element = document.getElementbyId('slick-slide01');
	    	var current = document.getElementbyId('slick-current');
	    	if($(element == current)) {
	                $('.inner3 .i-right').css('color', '#324E6B');
	            }
	    });
    </script>
    <script type="text/javascript">
    	$(document).ready(function(){  
    	if (window.location.href.indexOf('en') != -1){
            $('nav-langs_en').css('display', 'block');
            $('nav-langs').css('display', 'none');
    	}
    });
    </script>
{% endblock content %}
</body>
</html>
