{% extends 'topovske/base_template.html' %}
{% load static %}

{% block content %}
    <div class="mapa-container">
    	<div class="mapa-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequa.</div>
        <div id="map"></div>
    </div>
    <script>
        var map = L.map('map').setView([44.79,20.47], 13);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);


    </script>
    {% for loc in locations %}
    <script>
        L.marker([{{ loc.location }}]).addTo(map)
            .bindPopup('{{ loc.description }}')
            .openPopup();
    </script>
    {% endfor %}
{% endblock content %}
</body>
</html>
