{% extends 'topovske/base_template.html' %}
{% load static %}

{% block content %}
    <div class="o_logoru_container">
    	<div class="inside-box1">
			<div class="inner1">
				<div class="i-left">
					<img src="{% static 'topovske/images/blue_bar.png' %}">
				</div>
				<div class="i-right">
				    {{ camp_history.title }}
				</div>
			</div>
			<div class="inner2">
				<div class="i-left">
					<img src="{% static 'topovske/images/blue_bar.png' %}">
				</div>
				<div class="i-right">
				    {{ current.title }}
				</div>
			</div>
			<div class="inner3">
				<div class="i-left">
					<img src="{% static 'topovske/images/blue_bar.png' %}">
				</div>
				<div class="i-right">
				    {{ public_campaign.title }}
				</div>
			</div>
		</div>
    	<div class="inside_box2_istorija" style="margin-bottom: 30px;">
    		<div class="title">{{ camp_history.title }}</div>
    		<div class="text">{{ camp_history.text }}</div>
    	</div>
    	<div class="inside_box2_stanje" style="margin-bottom: 30px;">
    		<div class="title">{{ current.title }}</div>
    		<div class="text">{{ current.text }}</div>
        </div>
    	<div class="inside_box2_kampanja" style="margin-bottom: 30px;">
    		<div class="title">{{ public_campaign.title }}</div>
    		<div class="text">{{ public_campaign.text }}</div>
        </div>
    </div>
{% endblock content %}

