<script>
    	$('.galerija-slajder').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
            infinite: false,
			arrows: true,
			dots: false,
			prevArrow: $('.prev'),
			nextArrow: $('.next')
    	});
    </script>



<!-- // $('.inner1 .i-right').click(function() {
			//     $('.inside_box2_istorija').css('display', "block");
			// });	
			//  $('.inner1 .i-right').click(function() {
			//     $('.o_logoru_container .inside_box2_kampanja').css('display', "none");
			// });	
			// $('.inner1 .i-right').click(function() {
			//     $('.o_logoru_container .inside_box2_stanje').css('display', "none");
			// });
			// $('.inner1 .i-right').click(function() {
			//     $('.inner1 .i-right').css('color', '#324E6B');
			// }); -->    
 <!--   <script>
		$('.inside_box3_slajder').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			dots: true,
			infinite: false,
			prevArrow: $('.prev'),
			nextArrow: $('.next')
		});
    </script>
     <script>
    	$('.inside_box4_slajder').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			dots: true,
			infinite: false,
			prevArrow: $('.prev'),
			nextArrow: $('.next')
    	});
    </script>
     <script>
    	$('.inside_box5_slajder').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			dots: true,
			infinite: false,
			prevArrow: $('.prev'),
			nextArrow: $('.next')
    	});
    </script>
     <script>
    	$('.inside_box6_slajder').slick({
			slidesToShow: 1,
			slidesToScroll: 1,
			arrows: true,
			dots: true,
			infinite: false,
			prevArrow: $('.prev'),
			nextArrow: $('.next')
    	});
    </script> -->

     <!--    <script>
		$(document).ready(function(){
			$('.inner2 .i-right').click(function() {
				$('.inside_box2_slajder').unslick();
			    $('.inside_box2_slajder').css('display', "none");
			    $('.inside_box3_slajder').css('display', "block");
			    $('.inside_box3_slajder').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: true,
					dots: true,
					infinite: false,
					prevArrow: $('.prev'),
					nextArrow: $('.next')
		    	});
		    });
		 });
    </script> -->

    <!-- <a href="{% url 'cpi-press-detalji' clanak.id %}"> -->

    	<!-- <a href="{% url 'cpi-press-detalji' clanak.id %}"> -->

<!--     <script>
		$(document).ready(function(){
			$('.inner3 .i-right').click(function() {
			    $('.inside_box3_slajder').slick('unslick');
			    $('.inside_box3_slajder').css('display', "none");
			    $('.inside_box4_slajder').css('display', "block");
			    $('.inside_box5_slajder').css('display', "none");
			    $('.inside_box6_slajder').css('display', "none");
			    $('.inside_box2_slajder').css('display', "none");
			    $('.inside_box4_slajder').slick({
					slidesToShow: 1,
					slidesToScroll: 1,
					arrows: true,
					dots: true,
					infinite: false,
					prevArrow: $('.prev'),
					nextArrow: $('.next')
		    	});
			    $('.inner3 .i-right').css('color', '#324E6B');
			    $('.inner3 .i-left').css('visibility', 'visible');
			    $('.inner1 .i-right').css('color', '#9BA7B1');
			    $('.inner .i-left').css('visibility', 'hidden');
			    $('.inner2 .i-right').css('color', '#9BA7B1');
			    $('.inner2 .i-left').css('visibility', 'hidden');
			});
		});
    </script> -->
  
    <!-- <script>
		$(document).ready(function(){
			$('.inner3 .i-right').click(function() {
			    $('.inside_box2_istorija').css('display', "none");
			});	
			 $('.inner3 .i-right').click(function() {
			    $('.o_logoru_container .inside_box2_stanje').css('display', "none");
			});	
			$('.inner3 .i-right').click(function() {
			    $('.o_logoru_container .inside_box2_kampanja').css('display', "block");
			});
			$('.inner3 .i-right').click(function() {
			    $('.inner3 .i-right').css('color', '#324E6B');
			    $('.inner3 .i-left').css('visibility', 'visible');
			    $('.inner1 .i-right').css('color', '#9BA7B1');
			    $('.inner1 .i-left').css('visibility', 'hidden');
			    $('.inner2 .i-right').css('color', '#9BA7B1');
			    $('.inner2 .i-left').css('visibility', 'hidden');
			});
		});
    </script> -->
  <!--   <script>
    	$(document).ready(function(){
	    	var element = document.getElementbyId('slick-slide01');
	    	var current = document.getElementbyId('slick-current');
	    	if($(element == current)) {
	                $('.inner3 .i-right').css('color', '#324E6B');
	            }
	    });
    </script> -->